---
const platform = "github";
const username = "jeff4";
import Social from './Social.astro';
---

<div class="footer">
	<Social platform="GitHub" username="jeff4" />
	<Social platform="Twitter" username="jeffhwang" />

</div>

